
p{
    border: 3px solid black;
    height: 150px;
    margin-right: 10px;
    font-family: Helvetica;
    color: white;
    padding-left: 10px;
    padding-right: 10px;  
    
}
h1{
    margin-left: 50px;
    text-align: center;
}

h3{
    border: 3px solid black;   
    width: 10em; 
    margin-right: 30px;
    margin-left: 30px;
    font-family: Helvetica;
    text-align: center;
    color: black;
    float: right;  
    border-top: 0px; width: 25.66%;
    
}

#a{
    background-color: white; 
}
#b{
    background-color:  #A52A2A; 

}
#c{
    background-color: green; 

}

#p1 { 
    background-color: #A52A2A;  
    
} 

#p2 {
    background-color: green;
    
}

#p3 {
    background-color: palevioletred;
   
}


 /* Simple Responsive Framework. */
.row {
    width: 100%;
}

/** Large devices **/

@media (min-width: 992px){
   .col-lg-1, .col-lg-2, .col-lg-3{
       width: 27.66em;
       float: left;
   }
}
   

/** medium devices **/


@media (min-width: 768px) and (max-width: 991px){
    .col-md-1{
        width: 28.33em;
        float: left;
    }
    .col-md-2{
        width: 28.33em;
        float: right;
    }
    .col-md-3{
        width: 60.66em;
        float: left;
    }
 }

 /** mim devices **/


@media (max-width: 767px){
    .col-sm-1, .col-sm-2, .col-sm-3{
        width: 50.66em;
        float: left;
    }
 }